.listItem__wrapper {
    list-style: none;
    padding: 30px;
    margin: 0;
    width: 35vw;
    text-align: center;
    border: 3px solid grey;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.listItem__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid grey;
    justify-self: center;
}

.listItem__name {
    font-weight: 700;
    justify-self: center;

}

.listItem__description {
    font-weight: 500;
    justify-self: center;

}

.listItem__button {
    padding: 5px;
    font-weight: 500;
    background: none;
    border: 2px solid grey;
    font-size: 10px;
    text-decoration: none;
}